:root {
  --color-primary-0: #5894C2; /* Main Primary color */
  --color-primary-1: #D8EAF8;
  --color-primary-2: #80B3DA;
  --color-primary-3: #3977A7;
  --color-primary-4: #206396;

  --color-secondary-1-0: #FFA74E;	/* Main Secondary color (1) */

  --color-secondary-2-0: #5D84C5;	/* Main Secondary color (2) */
  --color-secondary-2-1: #B5CAEF;
  --color-secondary-2-2: #84A5DC;
  --color-secondary-2-3: #3E67AB;
  --color-secondary-2-4: #25509B;


  --color-text: #1a1a1a;
  /* Used plettron.com for colours with some modifications for variables */
}

* {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  max-width: 95%;
  background-color: var(--color-secondary-2-1);
  display: block;
  overflow: auto;
  margin: 0 auto;
}

header {
  background-color: var(--color-primary-1);
}

h1 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 115, 0, 0.89);
}

.topnav {
  text-align: center;
  background-color: var(--color-secondary-2-1);
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}
.topnav a {
  text-decoration: none;
  font-size: 2em;
  padding: 0 15px 0 15px;
}

nav a:link {
  color: var(--color-secondary-2-4);
}

nav a:visited {
  /* I chose to have link and visited be the same colour b/c I thought it looked cleaner */
  color: var(--color-secondary-2-4);
}

nav a:hover {
  color: var(--color-secondary-2-1);
  background-color: var(--color-secondary-2-4);
}

.sidenav {
  position:fixed;
  float: left;
  width: 180px;
}
.sidenav ul {
  padding: 0;
}
.sidenav a {
  text-decoration: none;
    display: block;
    font-size: 1.5em;
    padding: 10px 45px 10px 45px;
}

#back-to-top {
    position: fixed;
    bottom: 0;
    padding: 10px 20px 10px 20px;
    width: 180px;
}

section {
  margin: 0;
  padding: 10px 10px 10px 25px;
  overflow: auto;
}

section p {
  margin: 0;
}

h2 {
  text-align: center;
}